<html lang="en">
<%- include('./partials/head.ejs') %>
<body> 
  <nav class="navbar navbar-inverse navbar-fixed-top " id="menu">
    <p>Generate</p>
  </nav>
  <a href="/admin">Back</a>

  <form action="/admin/generate" method="post">
    <div align="center" style="margin-top: 50px">
        <button type="submit" id="generatebutton" class="btn btn-success btn-lg" style="width: 25%">GENERATE
        </button>
    </div>
  </form>

  <form action="/admin/test" method="post">
    <div align="center" style="margin-top: 50px">
        <button type="submit" id="generatebutton" class="btn btn-success btn-lg" style="width: 25%">Check
        </button>
    </div>
  </form>

  
</body>
</html>